<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.application.mapper.custom.BookFromTagCustomMapper">

	<insert id="insertBatch" parameterType="list">
		INSERT INTO book_from_tag(title, cover_url, author, pub_org, pub_date)
		VALUES
		<foreach collection="list" item="item" separator=",">
			(#{item.title},#{item.coverUrl},#{item.author},#{item.pubOrg},#{item.pubDate})
		</foreach>
	</insert>

</mapper>