<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.application.mapper.custom.LinkCustomMapper">

	<insert id="insertBatch" parameterType="list">
		INSERT INTO link(title, link)
		VALUES
		<foreach collection="list" item="item" separator=",">
			(#{item.title},#{item.link})
		</foreach>
	</insert>

</mapper>